<div class="login-div">
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <img class="rounded mx-auto d-block" src='./assets/logo.png'/>
        <mat-error *ngIf="!loginValid">
          The email or password were not recognized
        </mat-error>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
          <mat-icon matSuffix>email</mat-icon>
            <mat-error>
              Please provide a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-icon matSuffix>remove_red_eye</mat-icon>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button class="login-button">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>