.login-div {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 25%;
  margin: 2em auto;
  text-align: center;
  display: block;
  border-radius: 2.5%;

}

mat-form-field {
  display: block;
  margin: 12px 0px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  color: white;
  font-size: 14px;
  padding: 5px 24px;
  text-align: center;
  border-radius: 100px;
  background-color: #B02060;
}