button {
    height: 40px;
    font-size: large;
    width: 80%;
    margin: 10px auto;
    display: block;
    border: solid black 2px;
    border-radius: 5px;
}

.container {
    padding-left: 10%;
}

h2 {
    text-align: center;
}

select {
    height: 35px;
}

.input {
    height: 30px;
    width: 80%;
}

.age {
    text-align: center;
    height: 30px;
    width: 30%;
}

body {
    padding-bottom: 150px;
}

.logo {
    width: 40%;
    padding-left: 30%;
    border: 2px black;
}

p {
    margin-bottom: 30px;
}