.example-spacer {
    flex: 1 1 auto;
}

.navbar {
    height: 7.5%;
}

.admin-portal-text {
    margin: 0px 16px;
}

mat-divider {
    height:50%;
    margin: 0px 4px;
}

.example-sidenav {
    padding: 16px;
}

.example-sidenav-content {
    width: 100%;
    height: 100%;
    padding: 8px 24px;
    align-items: start;
    justify-content: start;
}
  
.example-container {
    width: 100%;
    height: 92.5%;
}

.reports-text-div {
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 500;
}

.drawer-icon-button {
    height: 56px;
    width: 250px;
    font-size: 14px;
    margin: 8px 0px;
    text-align: left;
    border-radius: 100px;
}

.drawer-button-icon {
    margin-right: 8px;
}
