<div *ngIf="!showDetails; else details">
    <div class="search-bar-container">
        <mat-form-field appearance="standard">
            <input class="search-bar" matInput type="search" placeholder="Search Name" [(ngModel)]="searchText"
                 name="searchText" required>
        </mat-form-field>
    </div>
    <div>
        <button mat-button class="pagination-button" id="previous" (click)="prevPage()">&laquo; Previous</button>
        <button mat-button class="pagination-button" id="next" (click)="nextPage()">Next &raquo;</button>
    </div>
    <div class="list-tile-container" *ngFor="let report of filteredActiveUsers;" (click)="showProfile(true, report)">
        <div class="information-container">
            <div *ngIf="isLoading" id="matSpinnerDiv">
                <mat-spinner color="#b01f60" diameter="50"></mat-spinner>
            </div>
            <img src="{{report.images[0] ?? 'https://firebasestorage.googleapis.com/v0/b/umtuwam.appspot.com/o/logos%2Fprofile_logo.png?alt=media&token=8163c425-06f0-485f-9e35-dde862ce0c53'}}"
                alt="" [ngStyle]="{visibility:isLoading?'hidden':''}" (load)="hideLoader()" (error)="hideLoader()" />
            <div class="details-container">
                <div class="name-container">
                    {{report.name}}
                </div>
                <div class="location-container">
                    {{report.location}}
                </div>
            </div>
        </div>
        <div class="reports-container">
            <div class="abuse-container">
                Abuse Reports: {{report.reports}}
            </div>
            <mat-icon>remove_red_eye</mat-icon>
        </div>
    </div>
</div>
<ng-template #details>
    <router-outlet></router-outlet>
</ng-template>