<app title="UmtuWam"  showfree="false">
    <drawer>
        <menuItem img="https://dbf5-196-201-233-26.ngrok.io/Moya/logo.png" >UmtuWam</menuItem>
        <menuItem action="share">Share App</menuItem>
        <menuItem action="rate">Rate App</menuItem>
    </drawer>
    <bottom_nav>
        <menuItem img="https://dbf5-196-201-233-26.ngrok.io/Moya/logo.png" href="https://dbf5-196-201-233-26.ngrok.io/Moya/Startup.xml" default="true">Startup</menuItem>
        <menuItem img="https://dbf5-196-201-233-26.ngrok.io/Moya/chat_logo.png" href="https://dbf5-196-201-233-26.ngrok.io/Moya/Chats.xml">Chat</menuItem>
        <menuItem img="https://dbf5-196-201-233-26.ngrok.io/Moya/profile_logo.png" href="https://dbf5-196-201-233-26.ngrok.io/Moya/Profile.xml">Profile</menuItem>
        <menuItem img="https://dbf5-196-201-233-26.ngrok.io/Moya/logo.png" href="https://dbf5-196-201-233-26.ngrok.io/Moya/Filters.xml">Preferences</menuItem> -->
        <!-- <menuItem img="https://dbf5-196-201-233-26.ngrok.io/Moya/logo.png" href="https://dbf5-196-201-233-26.ngrok.io/Moya/ViewProfile.xml">test</menuItem> -->
        
        <!-- <menuItem href="https://us-central1-umtuwam.cloudfunctions.net/getPropectiveDatesXML?id=0727888675">test</menuItem> -->
        
        
    </bottom_nav>
    <Menu>
        <menuItem action="usage">About</menuItem>
        <menuitem action="share">Share Moya</menuitem>
        <menuitem action="rate">Rate Moya</menuitem>
    </Menu>
    <share action="send" title="Moya" text="Check out the Moya #datafree super-app! I use it for #datafree chat and many other services. Even better, it works when you have no airtime or data balance. Get it from https://moya.app/dl/" subject="Moya #datafree app"/>
</app>