button {
    height: 40px;
    font-size: large;
    width: 80%;
    margin: 10px auto;
    display: block;
    border: solid black 2px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.container {
    padding-left: 10%;
}

p label {
    margin-right: auto;
}

select {
    height: 35px;
}

input[type="text"] {
    width: 80%;
    height: 30px;
}

.age {
    text-align: center;
    width: 20% !important;
}

.bio {
    resize: none;
    width: 80%;
}

label textarea {
    vertical-align: middle;
}

.membership {
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    background-color: #f86612;
    height: 40px;
    font-size: large;
    width: 80%;
    margin: 10px auto;
    display: flex;
    border: solid black 2px;
    border-radius: 5px;
}

body {
    padding-bottom: 150px;
}