button {
    height: 40px;
    font-size: large;
    width: 80%;
    margin: 10px auto;
    display: block;
    border: solid black 2px;
    border-radius: 5px;
}

.membership {
    background-color: #f86612;
}

p label {
    margin-right: auto;
}

select {
    height: 35px;
}

input[type="text"] {
    width: 66%;
    height: 30px;
    margin: 5px;
}

.age {
    width: 20% !important;
}

.bio {
    resize: none;
    width: 70%;
}

label textarea {
    vertical-align: middle;
}