button {
    height: 50px;
    font-size: x-large;
    width: 80%;
    margin: 10px auto;
    display: block;
    border: solid black 2px;
    border-radius: 5px;
}

br {
    margin-bottom: 5px;
}

.logo {
    width: 30%;
    padding-left: 35%;
}

.h {
    text-align: center;
}

select {
    height: 35px;
}

input[type="text"] {
    height: 30px;
}

body {
    padding-bottom: 50px;
}

.age {
    width: 10%;
}